<footer class="page-footer black z-depth-2" style="padding-left: 20px;">
    <div class="row">
      <div class="col l6 s12">
        <p class="grey-text text-lighten-4">※当ウェブサイトはみやび個別指導学院富士西校の質問フォーラムです</p>
      </div>
    </div>
</footer>