<div class="parallax-container" style="opacity: 0.8;">
    <div class="parallax"><img src="/2.jpg"></div>
</div>

<div class="section white">
    <div class="row container">
      <h5 class="header"><i class="material-icons">border_color</i>&nbsp;英語に関する質問なら何でも可能!</h5>
      <p class="grey-text text-darken-3 lighten-3"><em>You can ask whatever questions related to English here in this website. I'm sorry if I cannot answer you back immediately 'cause I'm currrently a bit busy with my stuff...Welcome to my website;)</em></p>
       <p class="grey-text text-darken-3 lighten-3"><em>Also, you can submit your English translation. I will correct what you translate and return it back to you.</em></p>
</div>

