<div class="container"><br/>
    <h5>Title: <%= @post.title %></h5><br/>
    <div class="col s12 m7">
    <div class="card horizontal">
      
      <div class="card-stacked">
        <div class="card-content" style="height:400px;">
          <p><%= sanitize @post.content %></p>
        </div>
        <div class="card-action">
          <%= link_to '編集', "/posts/#{@post.id}/edit" %>
        <% if current_user.id == @post.user_id %>
          <%= link_to '削除', "/posts/#{@post.id}/destroy", {method: "post"} %>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>